<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Подтверждение почты</title>
  </head>
  <body>
    <div
      style="
        padding: 25px;
        font-family: 'Inter', serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-align: center;
      "
    >
      <div
        style="
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          width: 400px;
        "
      >
        <img
          style="height: 30px; margin-bottom: 25px"
          src="https://ykotika.ru/images/Logo.png"
          alt="Дом мелового котика"
        />
        <div>
          <h1 style="margin: 5px; font-size: 25px">Восстановление пароля</h1>
        </div>
        <div>
          <p>
            Вы отправили запрос на изменение пароля. Восстановите пароль в течение 5 минут.
          </p>
        </div>
        <a
          style="
            display: inline-block;
            background-color: #3a72ec;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            vertical-align: middle;
            line-height: 40px;
            height: 40px;
            width: 250px;
            text-align: center;
          "
          href="{{link}}"
        >
          Восстановить пароль
        </a>
        <div>
          <i style="font-size: 13px; color: red">
            Если вы не отправляли этот запрос, <br />
            просто проигнорируйте это сообщение.
          </i>
        </div>
      </div>
    </div>
  </body>
</html>
