<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение почты</title>

    <style>
        button {
            background-color: blue;
        }
    </style>
</head>
<body>
    <h1>Здравствуйте!</h1>
    <p>Пожалуйста, подтвердите вашу почту, перейдя по ссылке ниже:</p>
    <a href="{{link}}">
        <button>
            Подтвердить почту
        </button>
    </a>
    <p>Если вы не отправляли этот запрос, просто проигнорируйте это сообщение.</p>
</body>
</html>
